.game-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 15px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 45px 50px;
  background-color: rgb(65, 39, 114);
  justify-content: space-between;
}

.card {
  width: 120px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
  border: 5px solid #8400ff;
  border-radius: 10px;
  box-sizing: border-box;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.card-front {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

.card-back {
  background-image: url(../images/card-back.jpg);
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Медиа-запросы для адаптивности */
@media (min-width: 768px) {
  .game-board {
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
  }
}

@media (min-width: 992px) {
  .game-board {
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
  }
}

@media (min-width: 1200px) {
  .game-board {
    grid-template-columns: repeat(10, 1fr);
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .game-board {
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
  }
}

@media (max-width: 360px) {
  .game-board {
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
  }
}
